@import '../../config/settings.scss';
@import '../../config/colors.scss';

.root{
  .headline{
    margin-top:0;
    text-align: center;
    font-size:settings(fontSize,lg);
    color: color(main,secondary);
  }
  .itemTitle{
    color:white;
  }
  .itemDesc{
    color:white;
  }

}
